name: Java CI com Maven, Coveralls e SonarCloud

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-analyze:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Cache SonarCloud packages
      uses: actions/cache@v3
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Build, Test, Coveralls & Sonar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      run: >
        mvn -B verify 
        org.sonarsource.scanner.maven:sonar-maven-plugin:sonar 
        jacoco:report coveralls:report 
        -Dsonar.projectKey=mancinidsb_java-teste
        -Dsonar.organization=mancinidsb 
        -Dsonar.host.url=https://sonarcloud.io 
        -DrepoToken=$COVERALLS_REPO_TOKEN 
        -Dbranch="$BRANCH_NAME"